@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Onest Variable', sans-serif;
}

.weather_current {
  grid-area: weather_current;
  background-image: linear-gradient(
    93.2deg,
    rgba(24, 95, 246, 1) 14.4%,
    rgba(27, 69, 166, 1) 90.8%
  );
}

.weather_hourly {
  grid-area: weather_hourly;
}

.weather_forecast {
  grid-area: weather_forecast;
}

.weather_container {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    'weather_current weather_forecast'
    'weather_hourly weather_hourly';
  gap: 1rem;
}

.day_weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'day_weather_header day_weather_header'
    'day_weather_main day_weather_main'
    'day_weather_footer day_weather_footer';
  gap: 1rem;
}

.day_weather_header {
  grid-area: day_weather_header;
}
.day_weather_main {
  grid-area: day_weather_main;
}
.day_weather_footer {
  grid-area: day_weather_footer;
}

@media (width < 800px) {
  .weather_container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'weather_current'
      'weather_forecast'
      'weather_hourly';
  }

  .day_weather {
    width: 100%;
    grid-template-areas:
      'day_weather_header day_weather_header'
      'day_weather_main day_weather_footer'
      'day_weather_main day_weather_footer';
  }

  .weather_forecast {
    flex-direction: column;
  }
}
